[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.33.1"
beautifulsoup4 = "4.14.3"
python-slugify = "==8.0.4"
pytubefix = "*"
trafilatura = "*"

[dev-packages]

[requires]
python_version = "3.12"
